[commitKinds]
format = ":art:"
performance = ":racehorse:"
docs = ":books:"
bugfix = ":bug:"
crucial = ":ambulance:"
remove = ":fire:"
tests = ":white_check_mark:"
security = ":lock:"
ui = ":lipstick:"
wip = ":construction:"
tags = ":bookmark:"
initial = ":tada:"
logging = ":speaker:"
removeLogging = ":mute:"
feature = ":sparkles:"
configuration = ":snowflake:"

# Not in the default config
license = ":copyright:"
